@import "variables";

@import "../../../../node_modules/bootstrap/scss/_functions";
@import "../../../../node_modules/bootstrap/scss/_variables";
@import "../../../../node_modules/bootstrap/scss/_mixins";


body { 
    padding: 10px;
}

.container, .container-fluid { 
    background: #ff96f6;
} 

.row > div {
    background: rgb(218, 241, 11);
}

.row {
    border: 0 solid rgb(133, 22, 189);
    border-width: 1px 0 0 1px;
    margin-bottom: 5px;
} 
.row > div {
    border: 0 solid rgb(133, 22, 189);
    border-width: 0 1px 1px 0;
}


.col {
    width: 10px;
}

.container-fluid {
    padding: 1rem;
}